        body {
            background-color: black;
            margin: 20%;    
        }

        #main{
            background-color:rgb(208, 160, 247);
            border: solid 2px white;
        }
 
        #title {
            text-align: center;
            text-shadow: 5px 5px 10px white;
            font-size: 7vh;
        }
        
        img {
            display: inline-block;
            text-align: center;
            width: 300px;
            margin-left:300px;
            border-radius: 50%;
            border:solid 2px black;
            height:250px;
        }
        
        #bold{
            font-size: 22px;
            text-align: center;
        }

        #caption {
            font-size: 20px;
            font-family: Gill Sans;
            text-align: center;
            color: black;
            margin-left: 90px;
        }
 
        #tribute-data {
            background-color: rgb(255, 243, 138);
            font-family: Georgia;
            padding: 20px;
            margin: 50px;
            margin-top: 50px;
            border:dotted 2px black;
        }

        #b{
            font-size: 20px;
            color:black;
            text-shadow: 5px 5px 10px grey ;
            text-align: center;
            
        }

        #p{
            color:black;
            text-align:left;
            margin-left: 190px;
        }

        #title
        {
            color:black;
            text-align: center;
            text-shadow: 5px 5px 10px grey;
        }
        
        h1.title-APJ {
            font-size: 35px;
            color: black;
            text-align: left;
            text-shadow: 5px 5px 10px grey;
            margin-left: 190px;
        }

        #tribute-link {
            text-decoration: none;
            color: rgb(253, 253, 253);
        }

        #ul{
            margin-left: 160px;
        }

        .footer{
            text-align: center;
            margin-bottom: 7px;
        }

        #footer{
            font-size: 22px;
            color:blue;
        }

        #foot{
            color: black;
        }
        
        #small{
            color: black;
        }